.DS_Store
Thumbs.db
Desktop.ini

.idea/
.vscode/
*.swp
*.swo
.history

node_modules/
dist/
.nyc_output/
coverage/
*.lcov

.dart_tool/
build/

*.log
*.tmp
*.tsbuildinfo

.env
.env.*
!.env.example
!*.env.example

pgdata/
redisdata/